/* ======================================================== */
html, body {width:100%; padding:0; margin:0;}

body {font: 13px/25px Arial, Verdana, Tahoma, sans-serif;
	color:#484848;
	min-width:1080px;
	font-style:italic;
	background: #fff;}
.ic {border:0;float:right;background:#fff;color:#f00;width:50%;line-height:10px;font-size:10px;margin:-220% 0 0 0;overflow:hidden;padding:0}
/***********************************************************************/
.text-0 {text-align:center; font-style:regular; color:#D37B00; font-size:14px; margin-top:15px;}
.text-1 {font-weight:normal; color:#000; font-size:60px; line-height:72px;}
.text-1 strong {font-weight:normal; margin-top:-32px; display:block;}
.text-2  {text-align:center; font-weight:200; font-style:regular; color:#000000; font-size:20px; margin-top:15px;}
.text-4 {font-family: sans-serif; font-weight:300; font-style:italic; color:#484848; font-size:30px; line-height:36px; letter-spacing:-1px;}
.text-5 {font-family: sans-serif; font-weight:300; font-style:italic; color:#FFFFFF; font-size:40px; line-height:36px; letter-spacing:-1px;}
.text-6 {font-family: sans-serif; font-weight:300; font-style:italic; color:#000000; font-size:40px; line-height:36px; letter-spacing:-1px;}

/*********************************header*************************************/
header{ width:100%; background:url(../images/header-bg.jpg) 0 0 repeat; border-bottom:#fff 1px solid;}
header>div {width:100%; background:url(../images/header-bg-shadow.png) 0 bottom repeat-x; padding-bottom:40px;}
header>div>div {width:960px; margin:0 auto;}
h1 {display: inline-block;
	z-index: 1111;
	margin: 16px 0px 0 10px;
	position: relative;
	float: left;}

/*********************************контент*************************************/
#content {width:100%;padding:0px 0px 48px 0; background:#f2f2f2;}

.img-border {border:#fff 8px solid;}

.box-1 {overflow:hidden; padding:40px 0 34px;}
.box-1 img {float:left; margin-top:-3px;}
.box-1 h2 {margin-bottom:8px;}

.box-2 {background: url(../images/line-1.gif) 0 0 repeat-x #f6f6f6}
.box-2>div {background: url(../images/line-1.gif) 0 bottom repeat-x; padding:35px 0 36px 0; text-align:center;}
.box-2>div p.text-4 {margin-top:-7px;}

.box-3 {overflow:hidden; padding:12px 0 0 0;}
.box-3>div { width:180px; float:left; margin-right:25px;}
.box-3>div a.link-2 {display: inline-block; margin: 15px 0 6px 0; color: #000000;}

/****************************футер************************/
footer {width:950px; overflow:hidden; margin:0 auto; padding:31px 0px 20px 0; }
footer p {float:left; text-align:center; width:580px; }


